<th:block th:replace="module.html :: *" th:with="
  title='ACLs', module='acls',
  columns=${{'ID','ObjectId','Principal','Permission','Granted','CreatedAt'}},
  props=${{'id','objectId','principal','permission','granted','createdAt'}},
  items=${acls},
  form=''
    + '<form th:action=\"@{/acls}\" method=\"post\">'
+   '<input type=\"text\" name=\"objectId\" placeholder=\"Object ID\" class=\"form-control\"/>'
+   '<input type=\"text\" name=\"principal\" placeholder=\"Principal\" class=\"form-control mt-2\"/>'
+   '<input type=\"text\" name=\"permission\" placeholder=\"Permission\" class=\"form-control mt-2\"/>'
+   '<select name=\"granted\" class=\"form-control mt-2\"><option value=\"true\">Grant</option><option value=\"false\">Deny</option></select>'
+   '<button class=\"btn btn-primary mt-2\">Create</button>'
+ '</form>'
"></th:block>
