<th:block th:replace="module.html :: *" th:with="
  title='Discovery', module='discovery',
  columns=${{'ID','Query','Description','CreatedAt'}},
  props=${{'id','query','description','createdAt'}},
  items=${discovery},
  form=''
    + '<form th:action=\"@{/discovery}\" method=\"post\">'
+   '<input type=\"text\" name=\"query\" placeholder=\"Query\" class=\"form-control\"/>'
+   '<input type=\"text\" name=\"description\" placeholder=\"Description\" class=\"form-control mt-2\"/>'
+   '<button class=\"btn btn-primary mt-2\">Create</button>'
+ '</form>'
"></th:block>
