<th:block th:replace="module.html :: *" th:with="
  title='Documents', module='documents',
  columns=${{'ID','Name','MimeType','CreatedAt','UpdatedAt'}},
  props=${{'id','name','mimeType','createdAt','updatedAt'}},
  items=${documents},
  form=''
    + '<form th:if=\"
          ${#strings.isEmpty(editId)}\" th:action=\"@{/documents}\" method=\"post\" enctype=\"multipart/form-data\">'
+   '<input type=\"file\" name=\"file\" class=\"form-control\"/>'
+   '
<button class=\"btn btn-primary mt-2\">Upload</button>'
+ '</form>'
+ '
<form th:if=\"${!#strings.isEmpty(editId)}\" th:action=\"@{/documents/{id}(id=${editId})}\" method=\"post\"
      enctype=\"multipart/form-data\">'
    + '<input type=\"file\" name=\"file\" class=\"form-control\"/>'
    + '
    <button class=\"btn btn-primary mt-2\
    ">Update</button>'
    + '
</form>'
"></th:block>
