<th:block th:replace="module.html :: *" th:with="
  title='Folders', module='folders',
  columns=${{'ID','Name','ParentId','CreatedAt','UpdatedAt'}},
  props=${{'id','name','parentId','createdAt','updatedAt'}},
  items=${folders},
  form=''
    + '<form th:if=\"${#strings.isEmpty(editId)}\" th:action=\"@{/folders}\" method=\"post\">'
+   '<input type=\"text\" name=\"name\" placeholder=\"Name\" class=\"form-control\"/>'
+   '<input type=\"text\" name=\"parentId\" placeholder=\"Parent ID\" class=\"form-control mt-2\"/>'
+   '<button class=\"btn btn-primary mt-2\">Create</button>'
+ '</form>'
+ '<form th:if=\"${!#strings.isEmpty(editId)}\" th:action=\"@{/folders/{id}(id=${editId})}\" method=\"post\">'
    +   '<input type=\"text\" name=\"name\" th:value=\"${editName}\" class=\"form-control\"/>'
    +   '<input type=\"text\" name=\"parentId\" th:value=\"${editParent}\" class=\"form-control mt-2\"/>'
    +   '<button class=\"btn btn-primary mt-2\">Update</button>'
    + '</form>'
"></th:block>
