<th:block th:replace="module.html :: *" th:with="
  title='Statistics', module='statistics',
  columns=${{'ID','MetricName','MetricValue','CreatedAt'}},
  props=${{'id','metricName','metricValue','createdAt'}},
  items=${statistics},
  form=''
    + '<form th:action=\"@{/statistics}\" method=\"post\">'
+   '<input type=\"text\" name=\"metricName\" placeholder=\"Metric Name\" class=\"form-control\"/>'
+   '<input type=\"number\" step=\"any\" name=\"metricValue\" placeholder=\"Value\" class=\"form-control mt-2\"/>'
+   '<button class=\"btn btn-primary mt-2\">Create</button>'
+ '</form>'
"></th:block>
