<th:block th:replace="module.html :: *" th:with="
  title='Type Definitions', module='typedefinitions',
  columns=${{'ID','BaseType','TypeId','DisplayName','Description','CreatedAt'}},
  props=${{'id','baseType','typeId','displayName','description','createdAt'}},
  items=${typedefinitions},
  form=''
    + '<form th:action=\"@{/typedefinitions}\" method=\"post\">'
+   '<input type=\"text\" name=\"baseType\" placeholder=\"Base Type\" class=\"form-control\"/>'
+   '<input type=\"text\" name=\"typeId\" placeholder=\"Type ID\" class=\"form-control mt-2\"/>'
+   '<input type=\"text\" name=\"displayName\" placeholder=\"Display Name\" class=\"form-control mt-2\"/>'
+   '<textarea name=\"description\" placeholder=\"Description\" class=\"form-control mt-2\"></textarea>'
+   '<button class=\"btn btn-primary mt-2\">Create</button>'
+ '</form>'
"></th:block>
