<!-- src/main/resources/templates/module.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerHead}"></head>
<body>
<div th:replace="~{fragments/header :: headerNav}"></div>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">Module: <span th:text="${moduleName}"></span></div>
        <div class="card-content">
            <p style="color:#666; margin-bottom:24px;">
                Functionality for <strong th:text="${moduleName}"></strong>.
            </p>

            <!-- Dynamic Form -->
            <div class="form-row" th:utext="${formHtml}"></div>
            <div class="my-5"></div>

            <!-- Dynamic Table -->
            <div class="table-container">
                <table>
                    <thead>
                    <tr th:each="col : ${columns}">
                        <th th:text="${col}"></th>
                    </tr>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:each="prop : ${props}" th:text="${#fields.bean(item, prop)}"></td>
                        <td class="actions" th:utext="${actionHtml(item)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>
